$bg-color: #2092a1;
$text-color: #111827;
$secondary-text-color: #f9f9f9;
$border-radius: 12px;
$shadow: 0 4px 12px rgba(0,0,0,0.08);



//labels
$label-color: #2563EB;
$bg-label-color: #2563EB;
//buttons
$primary-color: #2563EB;
$secondary-color: #111827;
