:root {
  --bg-color: variables.$bg-color;
  --text-color: variables.$text-color;
  --border-radius: variables.$border-radius;
  --secondary-color: variables.$secondary-text-color;
  --shadow: variables.$shadow;
  //buttons
  --primary-color: variables.$primary-color;
  --secondary-color: variables.$secondary-color;
  //labels
  --label-color: variables.$label-color;
  --bg-label-color: variables.$bg-label-color;


}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;

  .task {
    background: var(--secondary-color);
    padding: 12px;
    border-radius: 8px;
    box-shadow: var(--shadow);
    cursor: grab;
    

    &__title {
      font-weight: 500;
      font-size: 16px;
      color: var(--text-color);
      word-break: break-word; 
    }

    &__labels {
      display: flex;
      max-width: 40px;
      gap: 6px;

      .label {
        background: var(--bg-label-color);
        color: var(--label-color);
        padding: 2px 6px;
        font-size: 12px;
        border-radius: 6px;
      }
    }

    &__actions {
      display: flex;
      gap: 6px;

      .button {
        background: transparent;
        border: none;
        cursor: pointer;
        color: #6B7280;
        font-size: 14px;

        &:hover {
          color: var(--secondary-color) ;
        }
      }
    }

    
  }
}